{% extends "base.html" %}

{% load static %}

{% block content %}
<div id="order" class="container-fluid bg-grey">
    <h2 class="text-center">PLACE AN ORDER</h2>
    <div class="row">
        <div class="col-sm-5">
            <p>Contact us and we'll get back to you within 24 hours.</p>
            <p><span class="glyphicon glyphicon-map-marker"></span> Varna, Bulgaria</p>
            <p><span class="glyphicon glyphicon-phone"></span> +00359 1515151515</p>
            <p><span class="glyphicon glyphicon-envelope"></span> spectra@gbg.bg</p>
        </div>
        <div class="col-sm-7 slideanim">
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                    </div>
                    <div class="col-sm-6 form-group">
                        <select class="form-control" id="order_type" name="order_type" required>
                            <option value="" disabled selected>Select Order Type</option>
                            <option value="logo">Logo</option>
                            <option value="leaflet">Leaflet</option>
                            <option value="poster">Poster</option>
                        </select>
                    </div>
                </div>
                <textarea class="form-control" id="comments" name="comments" placeholder="Description of your order" rows="5" required></textarea><br>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <button class="btn btn-default pull-right" type="submit">Place Order</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
